button {
    margin: 10px 0 10px 10px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
}

button:hover {
    background-color: darkblue;
    border: 1px solid darkblue;
    cursor: pointer;
    outline: 0;
}